<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ACGT</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


    <script src="~/Scripts/jquery-1.10.2.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/js/bootstrap-datepicker.js"></script>

</head>
<body ng-app="acgt" style="padding-top:100px;">

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Index", "Home", null, new { @class = "site-logo" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="dropdown">
                        <a href="@Url.Action("About", "Home")" class="dropdown-toggle" data-toggle="dropdown">About<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Location", "Location", "Home")</li>
                            <li>@Html.ActionLink("History", "About", "Home")</li>
                            <li>@Html.ActionLink("Company People", "CompanyPeople", "Home")</li>
                            <li>@Html.ActionLink("Careers", "Careers", "Home")</li>
                            <li>@Html.ActionLink("Publications that used acgts services", "PublicationServices", "Home")</li>
                            <li>@Html.ActionLink("Terms and Conditions", "TermsAndConditions", "Home")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="@Url.Action("GeneralOverview", "Home")" class="dropdown-toggle" data-toggle="dropdown">Oligo Synthesis<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("General Overview", "GeneralOverview", "Home")</li>
                            <li>@Html.ActionLink("GMP", "GMP", "Oligo")</li>
                            <li>@Html.ActionLink("Synthesis Technology", "SynthesisTechnology", "Oligo")</li>
                            <li>@Html.ActionLink("Purification & Modifications", "PurificationModifications", "Oligo")</li>
                            <li>@Html.ActionLink("Oligo Synthesis Order Form", "oligosynthesisorderform", "Oligo")</li>
                            <li>@Html.ActionLink("Price List", "PriceList", "Oligo")</li>
                            <li>@Html.ActionLink("FAQ", "FAQ", "Oligo")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="@Url.Action("Index", "Sequencing")" class="dropdown-toggle" data-toggle="dropdown">Sequencing<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("General Overview", "Index", "Sequencing")</li>
                            <li>@Html.ActionLink("Sequencing Technology", "SequencingTechnology", "Sequencing")</li>
                            <li>@Html.ActionLink("DNA submission form", "SamplePreparation", "Sequencing")</li>
                            <li>@Html.ActionLink("Sequencing Order Form", "SequencingOrderForm", "Sequencing")</li>
                            <li>@Html.ActionLink("Inhouse Primers", "InhousePrimers", "Sequencing")</li>
                            <li>@Html.ActionLink("Price List", "PriceList", "Sequencing")</li>
                            <li>@Html.ActionLink("FAQ", "FAQ", "Sequencing")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Quality Systems", "Index", "QualitySystems")</li>
                    <li>@Html.ActionLink("Research and Development", "Index", "ResearchAndDevelopment")</li>
                    <li class="dropdown">
                        <a href="@Url.Action("General", "Sequencing")" class="dropdown-toggle" data-toggle="dropdown">Technical Support<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("General", "General", "TechSupport")</li>
                            <li>@Html.ActionLink("Glossary", "Glossary", "TechSupport")</li>
                            <li>@Html.ActionLink("FAQs", "FAQs", "TechSupport")</li>
                            <li>@Html.ActionLink("Tools", "Tools", "TechSupport")</li>

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="@Url.Action("PersonalizedCustomProjects", "PersonalizedProjects")" class="dropdown-toggle" data-toggle="dropdown">Personalized Projects<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("PersonalizedCustomProjects", "PersonalizedCustomProjects", "PersonalizedProjects")</li>
                            <li>@Html.ActionLink("SiteDirectedMutagenesis", "SiteDirectedMutagenesis", "PersonalizedProjects")</li>
 

                        </ul>
                    </li>


                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div id="wrap">
        <div class="container body-content">

            @RenderBody()
            <hr /><div id="push"></div>
        </div>
    </div>
    <div id="footer">
        <div class="container">
            test
            @*<img src="~/Content/Footer.png" />*@
        </div>
    </div>




    @RenderSection("scripts", required: false)

</body>
</html>
