<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ACGT</title>
    @Styles.Render("~/Content/subClasses")
    @Scripts.Render("~/bundles/modernizr")


    <script src="~/Scripts/jquery-1.10.2.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/js/bootstrap-datepicker.js"></script>
   


</head>
<body ng-app="acgt">
    <!-- Sidebar -->
    @Html.Partial("~/Views/Shared/navbar/_NavBar.cshtml")
    

    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="wrap">
        <div class="container-fluid">
            <div style="padding-bottom:100px;" class="row">
                <div class="col-lg-12">
                    @RenderBody()
                </div>
            </div>
        </div>
        <div class="push"></div>
    </div>
    <!-- /#page-content-wrapper -->
    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-3 portfolio-item">

                    <p><h3>NEWS</h3></p>
                    <p>New Oligonucleotide Synthesis Scale and Sequencing Pricing</p>
                    </br>
                    <p>Site-Directed Mutagenesis Services and Offered at ACGT</p>
                    </br>
                    <p>Custom Projects - Let ACGT assit you</p>

                </div>
                <div class="col-xs-3 portfolio-item">

                    <p><h3>QUICK LINKS</h3></p>

                    <p class="footer">Oligio Order Form </p>
                    </br>
                    <p class="footer">Sequencing Order Form</p>
                    </br>
                    <p class="footer">Site Directed Mutagenesis</p>
                </div>
                <div class="col-xs-4 portfolio-item">

                    <p><h3>LOCATION</h3></p>
                    <p class="footer">700 bay street suite 1100 </p>
                    <p class="footer">Toronto,Ontario</p>
                    <p class="footer">Canada M5G 1Z6</p>
                    </br>
                    <p class="footer">Tel : 416-977-2228</p>
                    <p class="footer">1-800-735-0847</p>
                    <p class="footer">Fax: 416-977-7111</p>
                </div>
                <div style="padding-top:20px;" class="col-md-2 portfolio-item">
                    <img  src="~/images/Bsi-Logo.png" />
                    <div style="padding-top:7px;">
                        <a style="padding-left:7px;" href="#"><img src="~/images/Facebook.png" /></a>
                        <a href="#"><img src="~/images/Twitter.png" /></a>
                    </div>
                </div>
            </div>

        </div>
    </div>

</body>
</html>
