<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ACGT</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


    <script src="~/Scripts/jquery-1.10.2.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/js/bootstrap-datepicker.js"></script>



</head>
<body ng-app="acgt">
    <!-- Sidebar -->

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
              
            @Html.ActionLink("Home", "Index", "Home", new object { }, new { @class = "site-logo" });
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="@Url.Action("About", "Home")" class="dropdown-toggle" data-toggle="dropdown">ABOUT<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Location", "Location", "Home")</li>
                            <li>@Html.ActionLink("History", "About", "Home")</li>
                            <li>@Html.ActionLink("Company People", "CompanyPeople", "Home")</li>
                            <li>@Html.ActionLink("Careers", "Careers", "Home")</li>
                            <li>@Html.ActionLink("Publications that used acgts services", "PublicationServices", "Home")</li>
                            <li>@Html.ActionLink("Terms and Conditions", "TermsAndConditions", "Home")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="@Url.Action("Services", "Index")" class="dropdown-toggle" data-toggle="dropdown">SERVICES<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Oligo Synthesis", "Order", "Home")</li>
                            <li>@Html.ActionLink("Sequencing Order Form", "Order", "Sequencing")</li>
                            <li>@Html.ActionLink("Personalized Custom Projects", "PersonalizedCustomProjects", "PersonalizedProjects")</li>
                         
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="@Url.Action("Investors", "Index")" class="dropdown-toggle" data-toggle="dropdown">INVESTORS<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Research and Development", "Index", "ResearchAndDevelopment")</li>

                        </ul>
                    </li>
                    <li>@Html.ActionLink("CONTACT US", "Home", "Services")</li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="wrap">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    @RenderBody()
                </div>
            </div>
        </div>
        <div class="push"></div>
    </div>
    <!-- /#page-content-wrapper -->
    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-3 portfolio-item">

                    <p><h3>NEWS</h3></p>
                    <p>New Oligonucleotide Synthesis Scale and Sequencing Pricing</p>
                    <p>Site-Directed Mutagenesis Services and Offered at ACGT</p>
                    <p>Custom Projects - Let ACGT assit you</p>

                </div>
                <div class="col-xs-3 portfolio-item">

                    <p><h3>QUICK LINKS</h3></p>

                    <p>Oligio Order Form </p>
                    <p>DNA Submission Guidelines</p>
                    <p>Site Directed Mutagenesis</p>
                </div>
                <div class="col-xs-4 portfolio-item">

                    <p><h3>LOCATION</h3></p>
                    <p>700 bay street suite 1100 </p>
                    <p>Toronto,Ontario</p>
                    <p>Canada M5G 1Z6</p>
                    <p>Tel : 416-977-2228</p>
                    <p>1-800-735-0847</p>
                    <p>Fax: 416-977-7111</p>
                </div>
                <div style="padding-top:20px;" class="col-md-2 portfolio-item">
                    <img  src="~/images/Bsi-Logo.png" />
                    <div style="padding-top:7px;">
                        <a style="padding-right:7px;" href="#"><img src="~/images/Facebook.png" /></a>
                        <a href="#"><img src="~/images/Twitter.png" /></a>
                    </div>
                </div>
            </div>

        </div>
    </div>

</body>
</html>
