<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ACGT</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

   
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/js/bootstrap-datepicker.js"></script>



</head>
<body ng-app="acgt">
        <!-- Sidebar -->
    @Html.Partial("~/Views/Shared/navbar/_NavBar.cshtml")
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
            <div id="wrap">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
            @RenderBody()
                    </div>
                </div>
        </div>
             
    </div>
        <!-- /#page-content-wrapper -->
    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 portfolio-item">

                        <img class="img-responsive" src="~/images/news.png" />
                    <p>New Oligonucleotide Synthesis Scale and Sequencing Pricing</p>
                    <p>Site-Directed Mutagenesis Services and Offered at ACGT</p>
                    <p>Custom Projects - Let ACGT assit you</p>

                </div>
                <div class="col-md-4 portfolio-item">

                        <img class="img-responsive" src="~/images/quicklinks.png" />

                    <p>Oligio Order Form </p>
                    <p>DNA Submission Guidelines</p>
                    <p>Site Directed Mutagenesis</p>
                </div>
                <div class="col-md-2 portfolio-item">

                        <img class="img-responsive" src="~/images/location.png" />
                    <p>700 bay street suite 1100 </p>
                    <p>Toronto,Ontario</p>
                    <p>Canada M5G 1Z6</p>
                    <p>Tel : 416-977-2228</p>
                    <p>1-800-735-0847</p>
                    <p>Fax: 416-977-7111</p>
                </div>
                <div class="col-md-2 portfolio-item">
                    <a href="#">
                            <img class="img-responsive" src="~/images/smallLogo.png" />

                    </a>
                </div>
            </div>

        </div>
    </div>

</body>
</html>
