@{
    ViewBag.Title = "General Overview";
}

<img class="img-responsive" src="~/images/Header.png" />
<div style="padding-bottom:40px;">
    <div style="float:left;">
        <nav class="vertical">
            <ul>
                <li>
                    <div>
                        <ul>
                            <li>@Html.ActionLink("Oligo Order Form", "Order", "Home")</li>
                            <li>@Html.ActionLink("General Overview", "GeneralOverview", "Oligo")</li>
                            <li>@Html.ActionLink("GMP", "GMP", "Oligo")</li>
                            <li>@Html.ActionLink("Price List", "PriceList", "Oligo")</li>
                            <li>@Html.ActionLink("Purification Modifications", "PurificationModifications", "Oligo")</li>
                            <li>@Html.ActionLink("Synthesis Technology", "SynthesisTechnology", "Oligo")</li>
                            <li>@Html.ActionLink("FAQ", "FAQ", "Oligo")</li>
                        </ul>
                    </div>
                </li>

            </ul>
        </nav>
    </div>
    <div style="padding-left:400px;">

        <h2>General Overview</h2>
        @*<style>
            .jm-item {
                padding: 10px;
                display: inline-block;
                text-align: left;
            }

            .jm-item-wrapper {
                position: relative;
                padding: 7px;
                background: white;
            }

            .jm-item-image {
                position: relative;
                overflow: hidden;
            }

                .jm-item-image img {
                    display: block;
                }

            .jm-item-title {
                position: absolute;
                left: -10px;
                bottom: 17px;
                background: #FF6B0E;
                line-height: 1.5em;
                font-weight: normal;
                padding: 7px 9px 6px;
                text-transform: uppercase;
                font-family: 'Oswald', sans-serif;
                color: #FFFFFF;
                font-size: 1.4em;
            }

            .jm-item-overlay {
                background: #000;
                opacity: 0;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                -webkit-transition: opacity 0.5s ease-in 0s;
                -moz-transition: opacity 0.5s ease-in 0s;
                -o-transition: opacity 0.5s ease-in 0s;
                transition: opacity 0.5s ease-in 0s;
            }

            .jm-item-wrapper:hover .jm-item-overlay {
                opacity: 0.3;
            }

            .jm-item-button {
                height: 50px;
                width: 50px;
                text-align: center;
                position: absolute;
                left: 50%;
                margin-left: -25px;
            }

                .jm-item-button a {
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    background: #FF6B0E;
                    text-transform: uppercase;
                    font-family: 'Oswald', sans-serif;
                    color: #FFFFFF;
                    font-size: 1.2em;
                    line-height: 50px;
                    -webkit-transition: all 0.2s ease-in 0s;
                    -moz-transition: all 0.2s ease-in 0s;
                    -o-transition: all 0.2s ease-in 0s;
                    transition: all 0.2s ease-in 0s;
                    text-decoration: none !important;
                    display: block;
                }

                    .jm-item-button a:hover {
                        background: #3b3b3b;
                    }

            .first .jm-item-button {
                -webkit-transition: all 0.5s ease-in 0.5s;
                -moz-transition: all 0.5s ease-in 0.5s;
                -o-transition: all 0.5s ease-in 0.5s;
                transition: all 0.5s ease-in 0.5s;
                top: -50px;
            }

            .first .jm-item-wrapper:hover .jm-item-button {
                top: 20%;
            }
        </style>

        <div class="jm-item first ">
            <div class="jm-item-wrapper ">
                <div class="  jm-item-image ">
                    <img class="thumbnail" width="300" height="400" src="~/images/Nanophotometer2.JPG" alt="Pizza Ristorante" />
                    <span class="jm-item-overlay"> </span>
                    <div class="jm-item-button"><a href="~/pdf/ACGT%20Oligo%20Order%20Form.pdf">View</a></div>
                </div>
                <div class="jm-item-title">Oligo Order Form</div>
            </div>

        </div>*@
        @*<div class="jm-item first ">
            <div class="jm-item-wrapper ">
                <div class="  jm-item-image ">
                    <img class="thumbnail" width="300" height="400" src="~/images/Synthesizer1.JPG" alt="Pizza Ristorante" />
                    <span class="jm-item-overlay"> </span>
                    <div class="jm-item-button">@Html.ActionLink("FAQ", "FAQ", "Oligo")</div>
                </div>
                <div class="jm-item-title">Oligo Order Form</div>
            </div>*@
            <p id="black">
                ACGT has earned a reputation for rapid oligonucleotide synthesis and the delivery of quality products at a competitive price.
            </p>


            <h4>Reasons to choose ACGT</h4>
            <ul type="circle">
                <li>High quality oligonucleotides</li>
                <li>Cost-effective, rapid service</li>
                <li>Experienced, qualified staff</li>
                <li>Easy to order (online ordering is available)</li>
                <li>Ready to use</li>
            </ul>
            <p id="black">Using the Applied Biosystems (ABI)/Life Technologies 3900 High-throughput DNA Synthesizer, ACGT routinely synthesizes oligonucleotides up to 54 bases in length but can accommodate larger oligos as required. Oligonucleotides can be used for PCR reactions, cloning, as components in diagnostic assays and kits, and other biological applications.  The ability to create custom, quality oligos at a reasonable price is essential for research projects. Commercial, and some academic, clients may require oligonucleotides manufactured under GMP conditions in our certified facility. Please contact us for more information.</p>
        </br>    
        <p id ="black">Synthesis scales offered: 0.02, 0.04, 0.2, 1.0 µmole</p>
        
            
        <h4>Final product:</h4>
        <p id="black">Desalted oligo in 10 mM Tris, pH 8 (1.2mL sample in a 2mL screw cap tube), OD 260nm provided; next day service available</p>
        <p id="black">Desalted oligo in 10 mM Tris, pH 8 (lyophilized sample), mass provided; additional day required</p>
        <p id="black">RP cartridge purified oligo (lyophilized sample), mass provided; additional day required</p>
            <h4>QC for GMP-grade oligonucleotides:</h4>
        <p id="black">Oligos are analyzed by High Performance Liquid Chromatography to ensure minimum purity specifications and minimum yield are met</p>
        <p id="black">Traceable documentation provided</p>
        <p id="black">Mass spectrometry analysis available at additional cost</p>
        <p id="black">Yield guarantee: Unmodified oligos (20-54-mers) will yield at least 2 OD (at 0.04 µmole scale)</p>
        <p id="black">Shipping: Typically next day delivery for unmodified research-grade oligos (if requested before 3pm)</p>
        </div>

