
@{
    ViewBag.Title = "PriceList";
}


<img class="img-responsive" src="~/images/Header.png" />

<div style="padding-bottom:40px;">
    <div style="float:left;">
        <nav class="vertical">
            <ul>
                <li>
                    <div>
                        <ul>
                            <li>@Html.ActionLink("Sequencing Order Form", "Order", "Sequencing")</li>
                            <li>@Html.ActionLink("FAQ", "FAQ", "Sequencing")</li>
                            <li>@Html.ActionLink("Inhouse Primers", "InhousePrimers", "Sequencing")</li>
                            <li>@Html.ActionLink("Pick Up", "PickUp", "Sequencing")</li>
                            <li>@Html.ActionLink("Price List", "PriceList", "Sequencing")</li>
                            <li>@Html.ActionLink("Sample Preparation", "SamplePreparation", "Sequencing")</li>
                            <li>@Html.ActionLink("Sequencing Technology", "SequencingTechnology", "Sequencing")</li>

                        </ul>
                    </div>
                </li>

            </ul>
        </nav>
    </div>


    <div style="padding-left:400px;">

        <h2>PriceList</h2>
        <p>
            Price List

            Pricing for Sequencing:
        </p>
        <table class="table table-striped table-hover">
            <tbody>
                <tr><th>Price</th><th>Data</th></tr>

                <tr><td>$5</td><td>Unedited Data</td></tr>
                <tr><td>$10</td><td>Edited Data</td></tr>
                <tr><td>$3*</td><td>*Optimization</td></tr>
            </tbody>
        </table>
        <p>
            *Data editing involves a review of the sequencing data by a qualified sequencing technician and the manual editing of any ambiguities.

            Graphic results are sent by email. Sequence assembly and primer design are performed on request.

            Sequencing by primer walking is available, please contact us for pricing.
        </p>
    </div>
</div>

