
@{
    ViewBag.Title = "SequencingTechnology";
}



<img class="img-responsive" src="~/images/Header.png" />

<div style="padding-bottom:40px;">
    <div style="float:left;">
        <nav class="vertical">
            <ul>
                <li>
                    <div>
                        <ul>
                            <li>@Html.ActionLink("Sequencing Order Form", "Order", "Sequencing")</li>
                            <li>@Html.ActionLink("FAQ", "FAQ", "Sequencing")</li>
                            <li>@Html.ActionLink("Inhouse Primers", "InhousePrimers", "Sequencing")</li>
                            <li>@Html.ActionLink("Pick Up", "PickUp", "Sequencing")</li>
                            <li>@Html.ActionLink("Price List", "PriceList", "Sequencing")</li>
                            <li>@Html.ActionLink("Sample Preparation", "SamplePreparation", "Sequencing")</li>
                            <li>@Html.ActionLink("Sequencing Technology", "SequencingTechnology", "Sequencing")</li>

                        </ul>
                    </div>
                </li>

            </ul>
        </nav>
    </div>


    <div style="padding-left:400px;">
        <h2>Sequencing Technology</h2>
            <p>DNA sequencing is the process of determining the order of DNA bases (A, G, C, T) in a segment of DNA. The Sanger method of sequencing involves the synthesis of a complementary DNA template using 2’-deoxynucleotides and termination of the synthesis reaction using dideoxynucleotides (2’,3’-deoxynucleotides). </p>
            <p>The ACGT facility uses the Applied BioSystems (ABI)/Life Technologies 3730xl capillary electrophoresis DNA sequencer. This instrument employs BigDye™ chemistry, a method of dye-labelled terminator sequencing, in which each dideoxynucleotide is labelled with a different fluorescent dye. BigDyes™, developed by ABI, are a set of dye terminators labelled with high-sensitivity dyes (1). The structure of each dye contains a fluorescein donor dye linked to one of four energy-transfer dichlororhodamine (dRhodamine) acceptor dyes. The excitation maximum of each dye label is that of the fluorescein donor and the emission spectrum is that of the dRhodamine acceptor. The BigDye™ terminators are 2-3 times brighter than rhodamine dye terminators when incorporated in cycle sequencing products.</p>
            <p>Following the synthesis of complementary DNA fragments of varying lengths, electrophoresis is used to separate the fluorescently-labelled DNA fragments that differ in size by one base. As the fragments move through the gel, light emitted from a laser is absorbed by the base-specific dye at the end of the DNA fragment.  The base-specific signal is then recorded by the detector. The 3730xl uses sheath flow fluorescent detection systems which prevents the scattering of laser light and increases the sensitivity of fluorescent detection for improved quality. Unlike slab gel electrophoresis (“manual dideoxy sequencing”), which involves the manual loading of each dideoxy reaction into a separate lane on a large electrophoresis gel, capillary electrophoresis allows for the analysis of each DNA sample within a small diameter capillary.</p>
            <p>
                Reference:
                1. Rosenblum BB, et al. New dye-labelled terminators for improved DNA sequencing patterns. Nucleic Acids Research 1997, 25(22):4500-4504.
            </p>
    </div>
</div>




