@{
    ViewBag.Title = "The Company";
}
<img class="img-responsive" src="~/images/Header.png" />


@*<div style="float:left;">
        <nav class="vertical">
            <ul>
                <li>
                    <div>
                        <ul>
                            <li>@Html.ActionLink("Location", "Location", "Home")</li>
                            <li>@Html.ActionLink("History", "About", "Home")</li>
                            <li>@Html.ActionLink("Company People", "CompanyPeople", "Home")</li>
                            <li>@Html.ActionLink("Careers", "Careers", "Home")</li>
                            <li>@Html.ActionLink("Terms and Conditions", "TermsAndConditions", "Home")</li>
                        </ul>
                    </div>
                </li>

            </ul>
        </nav>
    </div>*@

<div class="row center-block">

    <div class="col-lg-12">
    </div>
    <h2>THE COMPANY</h2>
    <p>
        ACGT Corporation was established in Toronto in 1995 on the premise that researchers in biological sciences wanted

        a reliable supplier of oligonucleotides and DNA sequencing that could provide them with quality materials in a rapid

        turn-around-time.
    </p>

    <p>
        Today, researchers have become more creative with their oligo designs and needs as a result of the increased

        availability of various modifications and attachment chemistries.  In addition, simple DNA sequencing requests have

        evolved to encompass more full-service projects.
    </p>

    <p>
        The kind of customer and technical support required to deliver these products and services is often difficult to obtain

        from larger biochemical companies that cater to catalogues of items.
    </p>

    <p>
        ACGT has been dedicated to the oligonucleotide synthesis and DNA sequencing services for over 20 years,

        providing quality products and services to hospital and university labs and as well to companies locally, across

        Canada and globally.  Our belief is that we understand our end-users and their need for technical expertise with equal

        emphasis on customer support.
    </p>

    <h2>Our Staff</h2>

    <p>
        ACGT has a strong and diversified Board of Directors, and an experienced Board of Scientific and Clinical Advisors.

        A core group of skilled managers with years of experience manage the direction and focus of the company.
    </p>

    <p class="bold"> Dr. Hai Shiene Chen, M.D., M.Sc. – President & CEO</p>

    <p>
        Dr. Hai Shiene Chen, was educated at The Second Military Medical University, Shanghai, China.  He received his

        Medical Degree in 1983, graduating in the top 2% of his class.  Between 1986 and 1988, Dr. Chen trained at Harvard

        Medical School in the field of cancer research.  In 1990, Dr. Chen obtained a M.Sc. Degree from the University of

        Toronto, and while there, directed a research project on HIV.  From 1991 to 1996, Dr. Chen was the Managing

        Director for the Canadian Genetic Diseases Network’s Core Facility.  In 1995, Dr. Chen founded ACGT Corporation.
    </p>

    <p class="bold">
        Dr. Yi Li, Ph.D. – Vice President of Technology
    </p>

    <p>
        Dr. Yi Li obtained her B.Sc. in Chemistry at Northwestern University in China in 1982.  She received her M.Sc. and

        Ph.D. in Chemistry at the University of Miami.  In 1991, Dr. Li began her industrial biomedical career with one of the

        leading biomedical companies in the United Sates.  She is currently a Project Leader/Principal Scientist at this

        company, responsible for the research and development of hematology reagents and blood analysis methods used

        on hematology analyzers.  Dr. Li is the primary inventor of ten U.S. patents in hematology products with two patents

        pending. Dr. Li is also a registered Unites States patent agent.
    </p>

    <p class="bold">Mr. Hemanshu Modi - Vice President of Operations</p>

    <p>
        Mr. Hemanshu Modi obtained his B.Sc. in Biology at the University of Waterloo in 1996. Following a brief period at

        Allelix Biopharmaceuticals, he focused on the development of diagnostic assays at Luminex Molecular Diagnostics

        (LMD; formerly TM Bioscience).  Prior to joining ACGT, Mr. Modi held several senior level positions at LMD, including

        Director of Technical Support, Director of Operations, and Director of Design Transfer and Process Engineering.  Mr.

        Modi has expertise in the clinical development and regulatory approval of DNA-based diagnostic assays.  He joined

        ACGT in February 2012.
    </p>

    <p class="bold">Mr. David Coburn, M.Sc. – R&D Manager & Custom Project Coordinator</p>

    <p>
        Mr. David Coburn completed his M.Sc. at the University of Toronto in the department of Molecular Genetics. Here he

        studied the function of proteins involved in the assembly and infection process of bacteriophage lambda. David is

        now a member of the ACGT research and development team where he applies his knowledge of DNA technology to

        the development of our molecular diagnostic assay.  Furthermore, David leads customer projects at ACGT.
    </p>

    <p class="bold">Ms. Diane Nuesca-Hilderley – QA/QC Manager</p>

    <p>
        Ms. Nuesca-Hilderley obtained her BSc in Human Biology from the University of Toronto and completed the

        Molecular Biology Diploma program at the Michener Institute in Toronto. Diane has more than 15 years of

        biotechnology and molecular biology experience with Visible Genetics and ACGT Corporation. At Visible Genetics,

        Diane contributed to the development of HCV and HLA genotyping assays and worked on the R&D team to bring the

        first FDA-approved HIV-1 genotyping assay to market. Diane has held numerous positions at ACGT Corporation

        including Research Associate, DNA Sequencing Supervisor, and most recently, Quality Control Manager.
    </p>

    <p class="bold">Our Dedicated Work Family</p>

    <img src="~/Content/Images/FamilyShot.png" />
    <p class="bold">Citations</p>

    <p>
        Our goal at ACGT is to continue the advancement of scientific knowledge so we feel proud when researchers from

        around the world that have used ACGT products and services, have published their work.  This is small list of

        published work.
    </p>

    <p class="bold">2013</p>

    <p>
        1. Collagen remodeling by phagocytosis is determined by collagen substrate topology and calcium-dependent

        interactions of gelsolin with nonmuscle myosin IIA in cell adhesions P. D. Arora, Y. Wang, A. Bresnick, J.

        Dawson, P. A. Janmey, and C. A. McCullocha. Mol Biol Cell. 2013 March 15; 24(6): 734–747.
    </p>

    <p>
        2. Metal Binding Properties of Escherichia coli YjiA, a Member of the Metal Homeostasis-Associated COG0523

        Family of GTPases Andrew M. Sydor, Marco Jost Katherine S. Ryan, Kaitlyn E. Turo, Colin D. Douglas,

        Catherine L. Drennan, and Deborah B. Zamble*† Biochemistry. 2013 March 12; 52(10): 1788–1801.
    </p>

    <p>
        3. Oral Neutrophil Transcriptome Changes Result in a Pro-Survival Phenotype in Periodontal Diseases Flavia S.

        Lakschevitz, Guy M. Aboodi, and Michael Glogauer, Charles C. Caldwell, Editor PLoS One. 2013; 8(7): e68983.
    </p>

    <p>
        4. CD109 Plays a Role in Osteoclastogenesis Yongqiang Wang, Maayan Inger, Hongwei Jiang, Howard

        Tenenbaum, and Michael Glogauer, Pranela Rameshwar, Editor PLoS One. 2013; 8(4): e61213.
    </p>

    <p>
        5. Genome-Wide Association Analysis Identifies a Mutation in the Thiamine Transporter 2 (SLC19A3) Gene

        Associated with Alaskan Husky Encephalopathy Karen M. Vernau, Jonathan A. Runstadler, Emily A. Brown,

        Jessie M. Cameron, Heather J. Huson, Robert J. Higgins, Cameron Ackerley, Beverly K. Sturges, Peter J.

        Dickinson, Birgit Puschner, Cecilia Giulivi, G. Diane Shelton, Brian H. Robinson, Salvatore DiMauro, Andrew W.

        Bollen, and Danika L. Bannasch Gerard Roel Rutteman, Editor PLoS One. 2013; 8(3): e57195.
    </p>

    <p class="bold">2012</p>

    <p>
        1. Reduced Expression of the rplU-rpmA Ribosomal Protein Operon in mexXY-Expressing Pan-Aminoglycoside-

        Resistant Mutants of Pseudomonas aeruginosa Calvin Ho-Fung Lau,a Sebastien Fraud,a Marcus Jones,b Scott

        N. Peterson,b and Keith Poolecorresponding authora Antimicrob Agents Chemother. 2012 October; 56(10):

        5171–5179.
    </p>

    <p>
        2. YeiR: a metal-binding GTPase from Escherichia coli involved in metal homeostasis Crysten E. Blaby-Haas,

        Jessica A. Flood, Valérie de Crécy-Lagard, and Deborah B. Zamble Metallomics. Metallomics. 2012 May; 4(5):

        488–497.
    </p>

    <p>
        3. Expression, purification, crystallization and preliminary X-ray analysis of Pseudomonas aeruginosa AlgL Francis

        Wolfram, Kritica Arora, Howard Robinson, Ana Mirela Neculai, Patrick Yip, and P. Lynne Howella Acta

        Crystallogr Sect F Struct Biol Cryst Commun. 2012 May 1; 68(Pt 5): 584–587.
    </p>

    <p>
        4. Combining in situ proteolysis and mass spectrometry to crystallize Escherichia coli PgaB Dustin J. Little, John

        C. Whitney, Howard Robinson, Patrick Yip, Mark Nitz, and P. Lynne Howell Acta Crystallogr Sect F Struct Biol

        Cryst Commun. 2012 July 1; 68(Pt 7): 842–845.
    </p>

    <p>
        5. Expression, purification, crystallization and preliminary X-ray analysis of Pseudomonas aeruginosa PelD

        Lindsey S. Marmont, John C. Whitney, Howard Robinson, Kelly M. Colvin, Matthew R. Parsek, and P. Lynne

        Howell Acta Crystallogr Sect F Struct Biol Cryst Commun. 2012 February 1; 68(Pt 2): 181–184.
    </p>

    <p class="bold"> News</p>

    <p class="bold">This section is under constructions  Please visit us at a later date.</p>

    <p class="bold">  CAREER OPPORTUNTIES</p>

    <p>
        ACGT is an equal opportunity employer.  We seek highly motivated professionals committed to excellent work ethics

        to help us succeed be the best at its business.  We offer competitive salaries and comprehensive benefits package.

        CURRENT OPEN POSITIONS – There are NO current openings at this time.
    </p>

    <p>Please email your resume to acgt@acgtcorp.com using subject ‘Resume’ or send to:</p>

    <p>ACGT Corporation</p>

    <p>
        700 Bay Street, Suite 1100
    </p>

    <p>
        Toronto, ON
    </p>

    <p>  M5G 1Z6   Canada</p>

</div>






