@{
    ViewBag.Title = "The Company";
}
<img class="img-responsive" src="~/images/Header.png" />
<div class="setMargins">

    <div style="float:left;">
        <nav class="vertical">
            <ul>
                <li>
                    <div>
                        <ul>
                            <li>@Html.ActionLink("Location", "Location", "Home")</li>
                            <li>@Html.ActionLink("History", "About", "Home")</li>
                            <li>@Html.ActionLink("Company People", "CompanyPeople", "Home")</li>
                            <li>@Html.ActionLink("Careers", "Careers", "Home")</li>
                            <li>@Html.ActionLink("Terms and Conditions", "TermsAndConditions", "Home")</li>
                        </ul>
                    </div>
                </li>

            </ul>
        </nav>
    </div>


    <div style="padding-left:400px;padding-bottom:100px;">
        <h2>The Company</h2>

        <p id="black">ACGT Corporation was established in 1995 on the premises that researcher doing research in biological sciences wanted a supplier of oligonucleotides and sequencing that they could count on to provide them quality materials in a the rapid turn-around-time.  </p>
        </br>
        <p id="black">Today, researchers have become more creative with their oligo designs and needs as a result of the availability of modification and attachment chemistries.  And simple DNA sequencing requests have changed to encompass more full-service projects. </p>
        </br>
        <p id="black">This new form of customer and technical support is often difficult to obtain from large biochemical companies that cater more to catalogued products and services.  </p>
        </br>
<p id="black">ACGT has been in business for over 20 years, providing quality products and services to hospital and university labs and as well to companies locally, across Canada and globally.  Our belief is that we understand our end-users and their need for technical expertise with equal emphasis on customer support.  </p>

    
    </div>

</div>