

@{
    ViewBag.Title = "Company People";
}
<img class="img-responsive" src="~/images/Header.png" />

<div style="padding-bottom:40px;">
    <div style="float:left;">
        <nav class="vertical">
            <ul>
                <li>
                    <div>
                        <ul>
                            <li>@Html.ActionLink("Location", "Location", "Home")</li>
                            <li>@Html.ActionLink("History", "About", "Home")</li>
                            <li>@Html.ActionLink("Company People", "CompanyPeople", "Home")</li>
                            <li>@Html.ActionLink("Careers", "Careers", "Home")</li>
                            <li>@Html.ActionLink("Publications that used acgts services", "PublicationServices", "Home")</li>
                            <li>@Html.ActionLink("Terms and Conditions", "TermsAndConditions", "Home")</li>
                        </ul>
                    </div>
                </li>

            </ul>
        </nav>
    </div>


    <div style="padding-left:400px;">
        <h1>Company People</h1>
        <p>ACGT has a strong and diversified Board of Directors, and an experienced Board of Scientific and Clinical Advisors. A core group of skilled managers with years of experience manage the direction and focus of the company.</p>

        <h2>Dr. Hai Shiene Chen, M.D., M.S. – President & CEO</h2>
        <p>Dr. Hai Shiene Chen, was educated at The Second Military Medical University, Shanghai, China. He received his Medical Degree in 1983, graduating in the top 2% of his class. Between 1986 and 1988, Dr. Chen trained at Harvard Medical School in the field of cancer research. In 1990, Dr. Chen obtained a M. Sc. Degree from the University of Toronto, and while there, directed a research project on HIV. From 1991 to 1996, Dr. Chen was a Managing Director for the Canadian Genetic Diseases Network’s Core Facility. In 1995, Dr. Chen founded ACGT Corporation. </p>
        <p>Dr. Chen has demonstrated the skill necessary to identify opportunity and initiate an action planning process to achieve results. He has successfully managed a multi-service international operation, and is widely respected in the medical technology community for his efficiency. To date, Dr. Chen is the sole inventor for ACGT’s patents. Dr. Chen has demonstrated the ability to initiate and move an idea forward, and is a key value driver for ACGT.</p>
        <h2>Dr. Yi Li, Ph.D. – Vice President of Technology</h2>
        <p>Dr. Yi Li obtained her B.S. in Chemistry at Northwestern University in China in 1982. She received her M.S. and Ph.D. in Chemistry at University of Miami. In 1991, Dr. Li began her biomedical industrial career with one of American leading biomedical companies. She is currently a Project Leader/Principal Scientist at this company, responsible for the research and development of hematology reagents and blood analysis methods used on hematology analyzers. Dr. Li is the primary inventor of ten U.S. patents in hematology products, with two patents pending. Dr. Li is also a registered Unites States patent agent.</p>
        <h2>Mr. Hemanshu Modi - Vice President of Operations</h2>
        <p>Mr. Hemanshu Modi obtained his BSc in Biology at the University of Waterloo in 1996. Following a brief period at Allelix Biopharmaceuticals, he focused on the development of diagnostic assays at Luminex Molecular Diagnostics (LMD; formerly TM BioScience). More recently, Mr. Modi held several senior level positions at LMD, including Director of Technical Support, Director of Operations, and Director of Design Transfer and Process Engineering. Mr. Modi has expertise in the clinical development and regulatory approval of DNA-based diagnostic assays. He joined ACGT in February 2012. </p>
        <h2>Dr. Derrik Leach, Ph.D. - Scientist</h2>
        <p>Dr. Derrik Leach studied base excision repair of oxidative DNA damage at McMaster University to earn his Ph.D. in Science. His work has been published in peer reviewed scientific journals and presented at a number of international scientific conferences. Derrik is now a member of the ACGT research and development team where he applies his knowledge of DNA technology to the development our molecular diagnostic assay.</p>
        <h2>Ms. Diane Nuesca-Hilderley – QA/QC Manager</h2>
        <p>Ms. Nuesca-Hilderley obtained her BSc in Human Biology from the University of Toronto followed by completion of the Molecular Biology Diploma program at the Michener Institute in Toronto.  Diane has more than 15 years for biotechnology and molecular biology experience with Visible Genetics and ACGT Corporation.  At Visible Genetics, Diane contributed to the development of HCV and HLA genotyping assays and worked on the R&D team to bring the first FDA-approved HIV-1 genotyping assay to market.  Diane has held numerous positions at ACGT Corporation including Research Associate, DNA Sequencing Supervisor, and, most recently, Quality Control Manager.</p>

        <p>Learn more about ACGT @Html.ActionLink("History", "History", "Home")</p></div>
</div>
