@{
    ViewBag.Title = "Oligonucleotide Order Form";
}



<script src="~/js/NewRows.js"></script>
<style>
    .table {
        max-width: none;
        table-layout: fixed;
        word-wrap: break-word;
    }
</style>
<link rel=StyleSheet href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css" type="text/css" media=screen>



<span style="padding-top:100px;padding-bottom:100px;">

</span>

    <nav class="vertical pull-left">
    <ul>
        <li>
            <div>
                <ul style="margin-top: 63px">
                    <li>@Html.ActionLink("General Overview", "GeneralOverview", "Oligo")</li>
                    <li>@Html.ActionLink("GMP", "GMP", "Oligo")</li>
                    <li>@Html.ActionLink("Price List", "PriceList", "Oligo")</li>
                    <li>@Html.ActionLink("Purification Modifications", "PurificationModifications", "Oligo")</li>
                    <li>@Html.ActionLink("Synthesis Technology", "SynthesisTechnology", "Oligo")</li>
                    <li>@Html.ActionLink("FAQ", "FAQ", "Oligo")</li>
                </ul>
            </div>
        </li>

    </ul>
</nav>


<div style="padding-left:300px;">
    <h2>Order</h2>
    <form name="dnaForm" ng-app="acgt" ng-controller="OrderOgli" class="form-horizontal" novalidate>
        @*@if (!Request.IsAuthenticated) {
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"> You have an option to log in so we can keep you in our records</h3>
                        <a class="btn btn-lg btn-primary" href="@Url.Action("Login", "Account")">Log in </a>
                    </div>
                </div>
            }
            <div>*@

   
            
            

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Billing Information</h3>
            </div>
            <div class="panel-body">
                <div class="tab-pane" id="profile">
                    <fieldset>
                        <div class="control-group">
                            <label class="col-md-2 control-label" for="InputFieldA">Quote number</label>

                            <div class="col-md-10">
                                <input type="text" class="form-control" id="txtQuotenumber" name="txtQuotenumber" ng-model="WrapperModel.Billing.Quotenumber" placeholder="Quote number" title="Quote number">

                            </div>
                        </div>
                        <div class="control-group">
                            <label class="col-md-2 control-label" for="InputFieldA">Full Name</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="txtBillingFullName" name="txtBillingFullName" ng-model="WrapperModel.Billing.FullName" placeholder="Full Name" title="Full Name">

                            </div>
                        </div>
                        <div class="control-group">
                            <label class="col-md-2 control-label" for="InputFieldA">Institution</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="txtBillingInstitution" name="txtBillingInstitution" ng-model="WrapperModel.Billing.Institution" placeholder="Billing Institution" title="Billing Institution">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="col-md-2 control-label" for="InputFieldA">Billing Address</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="Address" name="Address" ng-model="WrapperModel.Billing.BillingAddress" placeholder="Billing Address" title="Billing Institution">

                            </div>
                        </div>
                        <div class="control-group">
                            <label class="col-md-2 control-label" for="InputFieldA">Billing Phone</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="Phone" name="Phone" ng-model="WrapperModel.Billing.Phone" placeholder="Billing Phone" title="Billing Phone">

                            </div>
                        </div>
                        <div class="control-group">
                            <label class="col-md-2 control-label" for="InputFieldA">Billing Email</label>
                            <div class="col-md-10">
                                <input type="email" class="form-control" id="billingEmail" name="billingEmail" ng-model="WrapperModel.Billing.Email" required placeholder="Billing Email" title="Billing Email">
                                <span ng-show="dnaForm.billingEmail.$dirty && dnaForm.billingEmail.$invalid"></span>
                            </div>
                            <div ng-if="dnaForm.billingEmail.$error.required" class="error">
                                You forgot to enter your email address...
                            </div>
                            <div style="color:red" ng-if="!dnaForm.billingEmail.$error.required &amp;&amp;
                dnaForm.billingEmail.$error.email" class="error">
                                You did not enter your email address correctly...
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Shipping</h3>


            </div>
            <div class="panel-body">
                <div class="row">
                    <label class="col-md-2 control-label" for="InputFieldA">

                        <button type="button" style="color:red" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>

                    </label>
                    <div class="col-md-10">
                        <input type="text" name="RequestDate" class="form-control" datepicker-popup="{{format}}" ng-model="WrapperModel.Shipping.ShippingDate" is-open="opened" min-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" />
                    </div>
                </div>


                <div class="control-group">
                    <label class="col-md-2 control-label" for="InputFieldA">Full Name</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="FullName" name="FullName" ng-model="WrapperModel.Shipping.FullName" placeholder="FullName" title="FullName">

                    </div>
                </div>
                <div class="control-group">
                    <label class="col-md-2 control-label" for="InputFieldA">Institution</label>

                    <div class="col-md-10">
                        <input type="text" class="form-control" id="txtShippingInstitution" name="txtShippingAddress" ng-model="WrapperModel.Shipping.Institution" placeholder="Institution" title="Building and Room">

                    </div>
                </div>
                <div class="control-group">
                    <label class="col-md-2 control-label" for="InputFieldA">Shipping Address</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="txtShippingAddress" name="txtShippingAddress" ng-model="WrapperModel.Shipping.ShippingAddress" placeholder="Address" title="Address">

                    </div>
                </div>
                <div class="control-group">
                    <label class="col-md-2 control-label" for="InputFieldA">Phone</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="Phone" name="Phone" ng-model="WrapperModel.Shipping.Phone" placeholder="Shipping Phone" title="Shipping Phone">


                    </div>
                </div>
                <div class="control-group">

                    <label class="col-md-2 control-label" for="ShippingEmail">Email</label>
                    <div class="col-md-10">
                        <input type="email" class="form-control" name="ShippingEmail" ng-model="WrapperModel.Shipping.Email" placeholder="Shipping Email" title="Shipping Email">
                    </div>
                </div>
            </div>



        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"> Oligonucleotide Order Form</h3>
            </div>

            <div class="panel-body">
                <fieldset>
                    <legend> DNA Oligonucleotide Order Form</legend>
                    <div class="col-lg-3">

                        <div class="form-group row">
                            <div class="col-lg-10">
                                <button class="btn btn-default" ng-click="AddOligonucleotideRow()"><span class="glyphicon glyphicon-plus-sign"></span> Add Row</button>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <table class="panel-body">
                    <thead>
                        <tr>
                            <th>Primer Name</th>
                            <th>QTY</th>
                            <th>Oligonucleotide Sequence</th>
                            <th>Synthesis Scale(μmole)</th>
                            <th>GMP(Y/N)</th>
                            <th>Modification </th>
                            <th>Final Delivery Form</th>
                            <th>Purification</th>
                            <th>Price</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="rows in OligonucleotideRow" ng-form='dnaForm'>

                            <td>
                                <input type="text" class="form-control" id="txtPrimerName" name="PrimerName" ng-model="rows.PrimerName" placeholder="Enter Primer Name" title="Primer Name" required>
                                <span ng-show="dnaForm.PrimerName.$dirty && dnaForm.PrimerName.$invalid">  </span>
                                <span style="color:red" ng-show="dnaForm.PrimerName.$error.required">Primer Name is required.</span>
                            </td>
                            <td>
                                <input type="text" style="width:50px;" class="form-control" ng-change="UserQuote($index,rows.Qty,rows.OligonucleotideSequence,scaleValues1,Purification2,olgGmp)" id="txtQty" name="txtQty" ng-model="rows.Qty" placeholder="Qty" title="Qty">

                            </td>
                            <td>
                                @*<input type="text" ng-change="rows.OligonucleotideSequence = rows.OligonucleotideSequence.split(' ').join('');UserQuote($index,rows.Qty,rows.OligonucleotideSequence,scaleValues1,Purification2,olgGmp)" ng-pattern="emailPattern" ng-keypress="goToOnSpace($event)" class="form-control" id="txtOligonucleotideSequence" name="OligonucleotideSequence" ng-model="rows.OligonucleotideSequence" placeholder="Oligonucleotide Sequence" title="Oligonucleotide Sequence">*@
                                <input type="text" ng-change="UserQuote($index,rows.Qty,rows.OligonucleotideSequence,scaleValues1,Purification2,olgGmp)" ng-keypress="goToOnSpace($index,rows.OligonucleotideSequence)" class="form-control" id="txtOligonucleotideSequence" name="OligonucleotideSequence" ng-model="rows.OligonucleotideSequence" placeholder="Oligonucleotide Sequence" title="Oligonucleotide Sequence">

                            </td>
                            <td>
                                <select id="scaleValues1" class="form-control" name="scaleValues1" ng-change="keyPressSynthesisScale1Values($index,scaleValues1) ; UserQuote($index,rows.Qty,rows.OligonucleotideSequence,scaleValues1,Purification2,olgGmp) " ng-model="scaleValues1" ng-options="findScale.name as findScale.value for findScale in rows.SynthesisScale1"></select>
                            </td>
                            <td>
                                <select id="olgGmp" class="form-control" style="width:80px" name="olgGmp" ng-change="keyPressDnaGmp($index,olgGmp);UserQuote($index,rows.Qty,rows.OligonucleotideSequence,scaleValues1,Purification2,olgGmp)" ng-model="olgGmp" ng-options="user.value as user.name for user in rows.GMP3"></select>
                            </td>
                            <td>
                                <input type="text" class="sfTypeahead form-control" name="txtModification" id="txtModification" ng-change="keyPressModification($index,rows.Modification);" options="exampleOptions" datasets="exampleData" ng-model="rows.Modification">
                           </td>
                            <td>
                                <select id="finalDeliveryForm" class="form-control" ng-change="keyPressFinalDeliveryForm($index,finalDeliveryForm2)" name="finalDeliveryForm" ng-model="finalDeliveryForm2" ng-options="deliveryForm.name as deliveryForm.value for deliveryForm in rows.FinalDeliveryForm"></select>
                            </td>
                            <td>
                                <select id="ddlPurification" class="form-control" name="ddlPurification" ng-change="keyPressPurification($index,Purification2);UserQuote($index,rows.Qty,rows.OligonucleotideSequence,scaleValues1,Purification2,olgGmp)" ng-model="Purification2" ng-options="user.value as user.name for user in rows.Purification"></select>
                            </td>
                            <td>
                                <input type="text" class="form-control" id="txtPrice" name="price" ng-model="rows.Price"  disabled placeholder="Price" title="Price">
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Notes</h3>
            </div>
            <div class="panel-body">
                <textarea name="txtNotes" ng-model="WrapperModel.Billing.Notes" cols="200" rows="5"></textarea>
            </div>
        </div>

        <input type="submit" class="btn btn-primary" ng-click="submitForm()" ng-model="disableSubmit" ng-disabled="!dnaForm.$valid">
    </form>
</div>

