
@{
    ViewBag.Title = "Terms And Conditions";
}

<img class="img-responsive" src="~/images/Header.png" />

<div style="padding-bottom:40px;">
    <div style="float:left;">
        <nav class="vertical">
            <ul>
                <li>
                    <div>
                        <ul>
                            <li>@Html.ActionLink("Location", "Location", "Home")</li>
                            <li>@Html.ActionLink("History", "About", "Home")</li>
                            <li>@Html.ActionLink("Company People", "CompanyPeople", "Home")</li>
                            <li>@Html.ActionLink("Careers", "Careers", "Home")</li>
                            <li>@Html.ActionLink("Terms and Conditions", "TermsAndConditions", "Home")</li>
                        </ul>
                    </div>
                </li>

            </ul>
        </nav>
    </div>


    <div style="padding-left:400px;">

        <h2>Terms And Conditions</h2>

        <h4>Pricing</h4>
        <p id="black">Prices on the website are in effect are in Canadian dollars and are subject to change without notice.  ACGT will consider price volume discounts.  Please email us at order@acgtcorp.com or call 416-977-2228.</p>

        <h4>Quotations</h4>
 <p id="black">Written quotations for any of our products or services will be provided at no cost or obligation.  Quotations are valid for 30 days, unless stated otherwise. Please email us at order@acgtcorp.com or call 416-977-2228.</p>
 
    <h4>Payment options</h4>
    <p id="black">ACGT accepts MasterCard, VISA, American Express and Purchase Orders (net 60 days).  We also accept business cheques and direct deposit.  Please email us at order@acgtcorp.com or call 416-977-2228.</p>

        <h4>Shipping Charges</h4>
        <p id="black">For local shipment within the core downtown area (see map), ACGT ships free-of-charge. For deliveries outside of the core downtown area within Toronto, ACGT uses city courier services. Shipping charges may apply.  For all other national and international shipments, ACGT uses overnight express courier services, unless otherwise requested at time of ordering.  Shipping charges may apply.</p>

        </br>

        <p id="black">Note: For international shipments, customer will be responsible for custom clearance and related duty charges. </p>

        <h4>Incoming Inspection</h4>
        <p id="black">On receipt, please inspect the shipment and notify ACGT immediately of any damages, including package and/or product damages and/or errors in quantity received.  Products delivered by ACGT Corp, which do not meet performance specifications as a result of product failure when used under recommended conditions, will be replaced.  Notification to ACGT must be submitted within 14 business days of shipment, unless otherwise alternately agreed upon.  In instances, where a Return Materials/Goods Authorization (RMA/RGA) is required, please contact ACGT at 416-977-2228 or email us at order@acgtcorp.com</p>

        <h4>Cancellation Policy</h4>
        <p id="black">All cancellations must be received in written (i.e. email) by 3pm on the day of ordering. </p>

        <h4>Quality and Product Guarantee</h4>
        <p id="black">ACGT is committed to ensuring that all products meet or exceed established and customer expectations and our GMP services are designed to be in compliance with regulatory requirement.  We value your suggestions and feedback and strive to continuously improve your experience.  Please send all feedback to acgtcorp.com or call our office at (416) 977-2228</p>

        <h4>Product Use Limitation</h4>
        <p id="black">ACGT Corp’s products and services are for Research Use Only and/or for purpose of further manufacturing.  They are not intended for diagnostics use.  Compliance with government regulations of all levels with respect to use and application is the responsibility of the purchaser. </p>
</div>
</div>


